:root {
  --section-padding: 5vw;

  --sectionHead-padding: 30px;
  --sectionHead-size: 60px;

  --channel-background: #3C414E;
  --channel-color: #738BD7;
  --channel-background-active: #6172AA;

  --header-hue-rotate: hue-rotate(45deg);
}

html,body{
  margin:0;
  font-family: 'Open Sans', sans-serif;
  background:#36393E;
  color:white;
}
a {
  color: lightblue;
  text-decoration: none;
}

/* sections */

section{
  box-sizing: border-box;
  position:relative;
  padding-left:var(--section-padding);
  padding-right:var(--section-padding);
  padding-bottom:25px;
  margin:0 auto;
  max-height: 500vh;
  transition: max-height 500ms;
}

.section-collapse{
  max-height: calc(var(--sectionHead-padding) * 2 + var(--sectionHead-size));
}
.section-collapse .sectionHead:before{
  transform: rotate(180deg);
}
.section-collapse article{
  transform-origin: top;
  transform: scale(0);
}

article{
  transition: 500ms;
}

h1{ /* legacy, kept for old subpages */
  font-size:2.5rem;
  margin:0;
  padding-top:25px;
  padding-bottom:25px;
}

.sectionHead{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--sectionHead-padding);
  padding-bottom: var(--sectionHead-padding);
  cursor: pointer;
}
.sectionHead:before{
  z-index: 1;
  position: absolute;
  content: '';
  top: 46px;
  left: 20px;
  width: 0; 
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 22px solid #4BB77A;
  transition: 500ms;
}
.sectionHead:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  top: calc(100% - 30px);
  background: linear-gradient(90deg, rgba(75, 183, 122,0), #4BB77A 15%, #90DA6E 85%, rgba(144, 218, 111, 0) 100%);
  transition: 500ms;
}
.sectionHead img{
  height: 60px; /* fallback for IE */
  height: var(--sectionHead-size);
  transform-origin: right;
}
.sectionHead img:nth-child(2){
  height: 35px;
  margin-left: 10px;
  margin-top: 5px;
  transition: 500ms;
}
.rules > .sectionHead > img:nth-child(1), .channels > .sectionHead > img:nth-child(1){
  transform: scale(0.8);
}
.mods > .sectionHead > img:nth-child(2){
  margin-top: 0;
  height: 28px;
}

/* header */

.header{
  padding:8vmin;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  background:url('img/header.jpg');
  background-position:center;
  background-size:cover;
}
.logo{
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  height: 15vh;
  align-self: center;
  background:url('img/zootopia-discord-logo-v1.png');
  background-position:center;
  background-size:contain;
  background-repeat:no-repeat;
}
.cflogo{
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  height:200px;
  align-self: center;
  background:url('img/crimefileslogo.png');
  background-position:center;
  background-size:contain;
  background-repeat:no-repeat;
}
.header-link{
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:8vmin 0 0 0;
  padding:10px 30px;
  font-family: 'Exo', sans-serif;
  font-size:200%;
  font-weight:900;
  text-decoration: none;
  color:#64BE8C;
  text-shadow:1px 2px 1px rgba(0,0,0,0.5);
  background:rgba(255,255,255,0.25);
  border:1px solid rgba(255,255,255,0.2);
  border-radius: 1000px;
  transition:500ms;
}
.header-link:hover{
  background:rgba(255,255,255,0.4);
  border:1px solid rgba(255,255,255,0);
  transition:100ms;
}
#join-button{
  cursor:pointer;
}

/* background */

.bukoya{
  position:fixed;
  height:100%;
  width:20%;
  right:0;
  pointer-events:none;
  bottom:-3px;
  opacity:0.33;
  background:url("img/bukoya.png");
  background-size:contain;
  background-repeat:no-repeat;
  background-position:bottom;
}

/* modal */

.modal{
  visibility:hidden;
  z-index:100;
  position:fixed;
  overflow: hidden;
  width:calc(100% - 8vmin);
  max-width:500px;
  top:50%;
  left:50%;
  transform:translateX(-50%);
  background:rgba(0,0,0,0.5);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.33);
  border: 1px solid rgba(0, 0, 0, 0.33);
  border-radius:25px;
  text-align:justify;
  transition:300ms;
  transform:translate(-50%, -50%)scale(0);
  opacity: 0;
}
.modal-show{
  visibility:visible;
  opacity: 1;
  transform:translate(-50%, -50%)scale(1);
}
.modal-text{
  margin:4vmin;
}
.modal-link{
  box-sizing: border-box;
  width:100%;
  padding:3.5vmin;
  background:rgba(255,255,255,0.1);
  font-family: 'Roboto', sans-serif;
  font-size:200%;
  font-weight:100;
  color:white;
  text-decoration:none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:200ms;
}
.modal-link:hover{
  background:rgba(255,255,255,0.125);
}

/* info */

.info{
  padding-top: var(--section-padding);
}
.info article{
  text-align: justify;
}

/* rules */

.rules ul{
  list-style:decimal;
  margin:0;
  padding-left:28px;
}
.rules ul > li{
  padding-bottom:25px;
}
.rules ol{
  list-style:lower-alpha; 
  padding-left:28px;
}
.rules ol > li{
  margin-top:10px;
}
.rules ol > li > ol > li{
  list-style: lower-roman;
  margin-top:2px;
}

/* channels */

.channels{
  padding-bottom:15px;
}
.channels table tr td{
  padding-bottom:10px;
}

.channels table tr td:nth-child(odd){
  width:160px;
}
.channels table tr td a, .channel{
  background: var(--channel-background);
  color: var(--channel-color);
  text-decoration: none;
  transition: 100ms;
}
.channels table tr td a:before, .channel:before{
  content:'#';
  color:var(--channel-color);
  background: var(--channel-background);
  transition: 100ms;
}
.channels table tr td a:hover, .channel:hover{
  background: var(--channel-background-active);
  color: white;
}
.channels table tr td a:hover:before, .channel:hover:before{
  background: var(--channel-background-active);
  color: white;
}

/* roles */

.roles article{
  text-align: justify;
}

.roles ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.roles ul li:nth-child(odd){
  font-weight: 700;
  font-size: 125%;
}
.roles ul li:nth-child(even){
  margin-top: 10px;
  margin-bottom: 25px;
}

/* mods */

.mods{
  padding-bottom: 0;
}
.mods article{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mods h1{
  flex-basis:100%;
  margin-left:calc(var(--section-padding) / 2);
}
.mod{
  overflow:hidden;
  position:relative;
  box-sizing: border-box;
  width: 42.5vw;
  height: 42.5vw;
  margin-bottom: 5vmin;
  font-size: 0;
  transition: 500ms;
}
.mod:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.66);
}
.mod:hover img{
  transform: scale(1.1);
}
.mod:hover h2{
  opacity: 0;
}
.mod img{
  transition: 500ms;
  width: 100%;
  height: 100%;
}
.mod h2{
  box-sizing: border-box;
  position:absolute;
  margin:0;
  padding:10px;
  width:100%;
  bottom:0%;
  left:0;
  background:linear-gradient(to bottom, rgba(0,0,0,0) , rgba(0,0,0,0.66)); 
  font-family: 'Roboto', sans-serif;
  font-weight:100;
  font-size:1.5rem;
  pointer-events: none;
  transition: 500ms;
}

/* update */

.update{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top:25px;
  font-size:85%;
}

.update ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.update ul li:first-child{
  margin-bottom: 10px;
}
.update ul li:last-child{
  margin-top: 10px;
}

/* modifiers */

.grey{background:rgba(46,49,54,0.75)}
.green{background:rgba(63,73,69,0.75)}
.blur{
  filter:blur(20px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.blur a, .blur .sectionHead{pointer-events: none}
.backBlur{-webkit-backdrop-filter:blur(7.5px);backdrop-filter:blur(7.5px);}

/* scaling */

@media only screen and (min-width : 768px) {
  :root {
    --section-padding: 10vw;
    
    --sectionHead-padding: 40px;
    --sectionHead-size: 80px;
  }
  .sectionHead{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .sectionHead:before{
    top: 66px;
    left: calc(50% - 230px);
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 26px solid #4BB77A;
  }
  .sectionHead:after{
    width: 420px;
    top: calc(100% - 40px);
  }
  .sectionHead img{
    height: 80px;
  }
  .sectionHead img:nth-child(2){
    height: 50px;
  }
  .sectionHead:hover > img:nth-child(2){
    filter: var(--header-hue-rotate);
    transition: 100ms;
  }
  .sectionHead:hover:after{
    filter: var(--header-hue-rotate);
    transition: 100ms;
  }
  .mods > .sectionHead > img:nth-child(2){
    height: 40px;
  }
  .logo{
      height: 200px;
  }
  .header-link{
    margin:8vmin 4vmin 0 4vmin;
    padding: 30px 60px;
    font-size: 300%;
  }
  .header-link:before{
    transform:skew(-20deg);
  }
  .modal{
    max-width:500px;
  }
  .modal-link{
    padding:2vmin;
  }
  .info{
    padding-top: calc(var(--section-padding) / 2);
  }
  .mods{
    margin: 0 2.5vw;
    padding: 0 0 20px 0;
  }
  .mods article{
    justify-content: center;
  }
  .mod{
    width:200px;
    height:200px;
    margin: 20px;
  }
}

@media only screen and (min-width : 1000px) {
  :root {
    --section-padding: 15vw;
  }
  .modal-link{
    padding:1.5vmin;
  }
}

@media only screen and (min-width : 1450px) {
  :root {
    --section-padding: 20vw;
  }
}
