:root {
  --section-padding: 5vw;
  --section-collapse-time: 500ms;

  --sectionHead-padding: 30px;
  --sectionHead-size: 60px;
  --sectionHead-color-arrow: #90DA6E;
  --sectionHead-hover-time: 200ms;

  --channel-background: #3C414E;
  --channel-color: #738BD7;
  --channel-background-active: #6172AA;

  --header-hue-rotate: hue-rotate(45deg);

  --role-color-zootopian: #1DAE86;
  --role-color-znn: #E54D42;
  --role-color-nighthowler: #0B2CFB;
  --role-color-zpd: #3C8DAE;

  --zindex-bukoya: 10;
  --zindex-section: 20;
  --zindex-scrollIndicator: 30;
  --zindex-modal: 100;
}

html,body{
  margin:0;
  font-family: 'Open Sans', sans-serif;
  background:#36393E;
  color:white;
}
a {
  color: lightblue;
  text-decoration: none;
}

/* sections */

section{
  z-index: var(--zindex-section);
  box-sizing: border-box;
  position:relative;
  padding-left:var(--section-padding);
  padding-right:var(--section-padding);
  padding-bottom:25px;
  margin:0 auto;
  max-height: 500vh;
  transition: max-height var(--section-collapse-time);
}

.section-collapse{
  max-height: calc(var(--sectionHead-padding) * 2 + var(--sectionHead-size));
}
.section-collapse .sectionHead:before{
  transform: rotate(180deg);
}
.section-collapse article{
  transform: scale(0);
  opacity: 0;
}

article{
  transform-origin: top;
  transition: var(--section-collapse-time);
}

h1{ /* legacy, kept for old subpages */
  font-size:2.5rem;
  margin:0;
  padding-top:25px;
  padding-bottom:25px;
}

.sectionHead{
  position: relative;
  display: flex;
  align-items: center;
  padding-top: var(--sectionHead-padding);
  padding-bottom: var(--sectionHead-padding);
  cursor: pointer;
}
.sectionHead:before{
  position: absolute;
  content: '';
  top: 46px;
  right: 0;
  width: 0; 
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 22px solid var(--sectionHead-color-arrow);
  transition: var(--sectionHead-hover-time), transform var(--section-collapse-time);
}
.sectionHead:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  top: calc(100% - 30px);
  background: linear-gradient(90deg, #4BB77A, var(--sectionHead-color-arrow));
  transition: var(--sectionHead-hover-time);
}
.sectionHead img{
  left: 0;
  height: 60px; /* fallback for IE */
  height: var(--sectionHead-size);
}
.sectionHead img:nth-child(2){
  margin-left: 10px;
  margin-top: 5px;
  height: 35px;
  transition: 200ms;
}
.mods > .sectionHead > img:nth-child(2){
  margin-top: 0;
  height: 28px;
}

/* header */

.header{
  --wave-side-1: 0%;
  --wave-side-2: 1.4%;
  --wave-side-3: 2.7%;
  --wave-side-4: 3.8%;
  --wave-side-5: 4.6%;
  --wave-top: 5%;
  --wave-middle-1: 4.6%;
  --wave-middle-2: 3.8%;
  --wave-middle-3: 2.8%;
  --wave-middle-4: 1.5%;

  padding:8vmin;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  background:url('img/header.jpg');
  background-position:center;
  background-size:cover;
  -webkit-clip-path: polygon(
    /* outside */
    0 0, 100% 0,
    /* outer right */
    100% calc(95% - var(--wave-side-1)), 95% calc(95% - var(--wave-side-2)), 90% calc(95% - var(--wave-side-3)), 85% calc(95% - var(--wave-side-4)), 80% calc(95% - var(--wave-side-5)),
    /* top right */
    75% calc(95% - var(--wave-top)),
    /* inner right */
    70% calc(95% - var(--wave-middle-1)), 65% calc(95% - var(--wave-middle-2)), 60% calc(95% - var(--wave-middle-3)), 55% calc(95% - var(--wave-middle-4)),
    /* middle */
    50% 95%,
    /* inner left */
    45% calc(95% + var(--wave-middle-4)), 40% calc(95% + var(--wave-middle-3)), 35% calc(95% + var(--wave-middle-2)), 30% calc(95% + var(--wave-middle-1)),
    /* top left */
    25% calc(95% + var(--wave-top)),
    /* outer left */
    20% calc(95% + var(--wave-side-5)), 15% calc(95% + var(--wave-side-4)), 10% calc(95% + var(--wave-side-3)), 5% calc(95% + var(--wave-side-2)), 0% calc(95% + var(--wave-side-1))
    );
  clip-path: polygon(
    /* outside */
    0 0, 100% 0,
    /* outer right */
    100% calc(95% - var(--wave-side-1)), 95% calc(95% - var(--wave-side-2)), 90% calc(95% - var(--wave-side-3)), 85% calc(95% - var(--wave-side-4)), 80% calc(95% - var(--wave-side-5)),
    /* top right */
    75% calc(95% - var(--wave-top)),
    /* inner right */
    70% calc(95% - var(--wave-middle-1)), 65% calc(95% - var(--wave-middle-2)), 60% calc(95% - var(--wave-middle-3)), 55% calc(95% - var(--wave-middle-4)),
    /* middle */
    50% 95%,
    /* inner left */
    45% calc(95% + var(--wave-middle-4)), 40% calc(95% + var(--wave-middle-3)), 35% calc(95% + var(--wave-middle-2)), 30% calc(95% + var(--wave-middle-1)),
    /* top left */
    25% calc(95% + var(--wave-top)),
    /* outer left */
    20% calc(95% + var(--wave-side-5)), 15% calc(95% + var(--wave-side-4)), 10% calc(95% + var(--wave-side-3)), 5% calc(95% + var(--wave-side-2)), 0% calc(95% + var(--wave-side-1))
    );
  }
  .header-removeClip{
    -webkit-clip-path: none !important;
    clip-path: none !important;
  }
.logo{
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  height: 15vh;
  align-self: center;
  background:url('img/zootopia-discord-logo-v1.png');
  background-position:center;
  background-size:contain;
  background-repeat:no-repeat;
}
.cflogo{
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  height:200px;
  align-self: center;
  background:url('img/crimefileslogo.png');
  background-position:center;
  background-size:contain;
  background-repeat:no-repeat;
}
.header-link{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23vmin;
  height: 23vmin;
  margin: 12vmin 0 8vmin 0;
  font-family: 'Exo', sans-serif;
  font-size: 7vmin;
  font-weight:900;
  text-decoration: none;
  color:#64BE8C;
  text-shadow:1px 2px 1px rgba(0,0,0,0.5);
  background:rgba(255,255,255,0.25);
  border:1px solid rgba(255,255,255,0.2);
  border-radius: 50%;
  cursor: pointer;
  transition: 500ms;
}
.header-link:hover{
  text-shadow:2px 4px 2px rgba(0,0,0,0.4);
  background:rgba(255,255,255,0.4);
  border-radius: 40px;
  transition: 100ms;
}

/* background */

.bukoya{
  z-index: var(--zindex-bukoya);
  position:fixed;
  height:100%;
  width:20%;
  right:0;
  pointer-events:none;
  bottom:-3px;
  opacity:0.33;
  background:url("img/bukoya.png");
  background-size:contain;
  background-repeat:no-repeat;
  background-position:bottom;
}

.scroll-indicator{
  z-index: var(--zindex-scrollIndicator);
  position: fixed;
  display: none;
  grid-template-rows: repeat(3, 20px);
  grid-template-columns: 2px;
  grid-row-gap: 4px;
  left: calc(var(--section-padding) / 2 - 2px);
  bottom: 0;
  background: linear-gradient(var(--sectionHead-color-arrow), #4BB77A);
  cursor: pointer;
  transition: transform 250ms;
}
.scroll-indicator:active{
  transform: scale(0.75);
}

.scroll-indicator div{
  display: none;
  background: linear-gradient(var(--sectionHead-color-arrow), #4BB77A);
  -webkit-clip-path: polygon(20% 0, 50% 60%, 80% 0, 100% 0%, 50% 100%, 0 0%);
  clip-path: polygon(20% 0, 50% 60%, 80% 0, 100% 0%, 50% 100%, 0 0%);
  animation-name: flashScrollIndicator;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#scroll-indicator-1{
  animation-delay: 400ms;
}
#scroll-indicator-2{
  animation-delay: 200ms;
}
.scroll-indicator-hide{
  transform: translate(calc(-100% - 10px), 0);
}

/* modal */

.modal{
  visibility:hidden;
  z-index:var(--zindex-modal);
  position:fixed;
  overflow: hidden;
  width:calc(100% - 8vmin);
  max-width:500px;
  top:50%;
  left:50%;
  transform:translateX(-50%);
  background:rgba(0,0,0,0.5);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.33);
  border: 1px solid rgba(0, 0, 0, 0.33);
  border-radius:25px;
  text-align:justify;
  transition:300ms;
  transform:translate(-50%, -50%)scale(0);
  opacity: 0;
}
.modal-show{
  visibility:visible;
  opacity: 1;
  transform:translate(-50%, -50%)scale(1);
}
.modal-text{
  margin:4vmin;
}
.modal-link{
  box-sizing: border-box;
  width:100%;
  padding:3.5vmin;
  background:rgba(255,255,255,0.1);
  font-family: 'Roboto', sans-serif;
  font-size:200%;
  font-weight:100;
  color:white;
  text-decoration:none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:200ms;
}
.modal-link:hover{
  background:rgba(255,255,255,0.125);
}

/* info */

.info{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.info article{
  display: grid;
  max-width: 750px;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
.info article p{
  align-self: end;
  margin: 0;
}
.info article p:first-child{
  font-weight: bold;
  font-size: 150%;
}
.info article p:not(:first-child){
  text-align: justify;
}

/* rules */

.rules ul{
  list-style:decimal;
  margin:0;
  padding-left:28px;
}
.rules ul > li{
  padding-bottom:25px;
}
.rules ol{
  list-style:lower-alpha; 
  padding-left:28px;
}
.rules ol > li{
  margin-top:10px;
}
.rules ol > li > ol > li{
  list-style: lower-roman;
  margin-top:2px;
}

/* channels */

.channels article ul{
  margin: 0;
  padding: 0;
  list-style: none;
  
  display: grid;
  grid-template-columns: 145px auto;
}
.channels article ul li{
  position: relative;
  display: flex;
  align-items: center;
}
.channels article ul li:first-child{
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 20px;
  margin-left: 26px;
  text-transform: uppercase;
  cursor: pointer;
}
.channels article ul li:first-child:before{
  position: absolute;
  content: '';
  left: -16px;
  top: 50%;
  transform: translate(0, -50%);
  width: 0; 
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 9px solid #fff;
}
.channels article ul li:not(:last-child):not(:nth-last-child(2)){
  margin-bottom: 10px;
}
.channels li:nth-child(even) a, .channel{
  background: var(--channel-background);
  color: var(--channel-color);
  text-decoration: none;
  cursor: pointer;
  transition: 100ms;
}
.channels li:nth-child(even) a:before, .channel:before{
  content:'#';
  color:var(--channel-color);
  background: var(--channel-background);
  transition: 100ms;
}
.channels li:nth-child(even) a:hover, .channel:hover{
  background: var(--channel-background-active);
  color: white;
}
.channels li:nth-child(even) a:hover:before, .channel:hover:before{
  background: var(--channel-background-active);
  color: white;
}
.channelCategory-hide, .channelCategory-hideVerified, .channelCategory-hideNSFW{
  display: none !important;
}
.channelCategory-closed:before{
  transform: rotate(-90deg)translate(5px, calc(-50% + 5px)) !important;
}
#channel-checkboxes{
  text-align: center;
}
.channels input{
  cursor: pointer;
  /* TODO
  /*-moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  */
}
.channels label{
  cursor: pointer;
}

/* roles */

.roles article{
  text-align: justify;
}

.roles ul{
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.roles ul li:nth-child(odd){
  display: inline-block;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 100px;
  padding: 4px 12px 4px 30px;
}
.roles ul li:nth-child(odd):before{
  position: absolute;
  content: '';
  top: 50%;
  left: 8px;
  transform: translate(0, -50%);
  width: 16px;
  height: 16px;
  background: rgba(255, 255, 255, 1);
  border-radius: 100%;
}
.roles ul li:nth-child(even){
  margin-top: 10px;
  margin-bottom: 30px;
}
#role-zootopian{
  border: 1px solid var(--role-color-zootopian);
}
#role-znn{
  border: 1px solid var(--role-color-znn);
}
#role-nighthowler{
  border: 1px solid var(--role-color-nighthowler);
}
#role-zpd{
  border: 1px solid var(--role-color-zpd);
}
#role-zootopian:before{
  background: var(--role-color-zootopian)
}
#role-znn:before{
  background: var(--role-color-znn)
}
#role-nighthowler:before{
  background: var(--role-color-nighthowler)
}
#role-zpd:before{
  background: var(--role-color-zpd)
}

/* mods */

.mods{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2.5vw;
  padding: 0 0 2.5vw 0;
}
.mods article{
  position: relative;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}
.mods h1{
  flex-basis: 100%;
  margin-left: calc(var(--section-padding) / 2);
}
.mods .sectionHead{
  margin: 0 2.5vw;
  flex-basis: 100%;
}
.mod{
  overflow:hidden;
  position:relative;
  box-sizing: border-box;
  width: 42.5vw;
  height: 42.5vw;
  margin: 2.5vw;
  font-size: 0;
  transition: 500ms;
  transition-property: hover, box-shadow;
}
.mod:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}
.mod:hover img{
  transform: scale(1.1);
}
.mod:hover h2{
  opacity: 0;
}
.mod img{
  transition: 500ms;
  width: 100%;
  height: 100%;
}
.mod h2{
  box-sizing: border-box;
  position:absolute;
  margin:0;
  padding:10px;
  width:100%;
  bottom:0%;
  left:0;
  background:linear-gradient(to bottom, rgba(0,0,0,0) , rgba(0,0,0,0.75)); 
  font-family: 'Roboto', sans-serif;
  font-weight:100;
  font-size:1.5rem;
  pointer-events: none;
  transition: 500ms;
}

/* update */

.update{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top:25px;
  font-size:85%;
}

.update ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.update ul li:first-child{
  margin-bottom: 10px;
}
.update ul li:last-child{
  margin-top: 10px;
}

/* modifiers */

.grey{background:rgba(46,49,54,0.75)}
.green{background:rgba(63,73,69,0.75)}
.blur{
  filter:blur(20px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.blur a, .blur .sectionHead, .blur .channel, .blur + .scroll-indicator{pointer-events: none}
.backBlur{-webkit-backdrop-filter:blur(7.5px);backdrop-filter:blur(7.5px);}
.command{
  padding: 0 2px;
  color: rgba(255, 255, 255, 0.8);
  background: #2F3136;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
}

/* keyframes */

@keyframes flashScrollIndicator {
  0%   {transform: scale(1);}
  20%  {transform: scale(1.33);}
  50%  {transform: scale(1);}
  100% {transform: scale(1)}
}

/* scaling */

@media only screen and (min-width : 540px) {
  .mod{
    width: calc(80vw / 3);
    height: calc(80vw / 3);
  }
}

@media only screen and (min-width : 768px) {
  :root {
    --section-padding: 10vw;
    
    --sectionHead-padding: 40px;
    --sectionHead-size: 80px;
  }
  .scroll-indicator{
    grid-template-columns: 20px;
    grid-row-gap: 4px;
    left: 10px;
    bottom: 10px;
    padding: 15px 10px;
    background: #36393E;
    border: 1px solid rgba(114, 200, 119, 1);
    border-radius: 50px;
  }
  .scroll-indicator div{
    display: initial;
  }
  .sectionHead{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .sectionHead:before{
    top: 66px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 26px solid var(--sectionHead-color-arrow);
  }
  .sectionHead:after{
    top: calc(100% - 40px);
  }
  .sectionHead img{
    height: 80px;
  }
  .sectionHead img:nth-child(2){
    height: 50px;
  }
  .sectionHead:hover > img:nth-child(2){
    filter: var(--header-hue-rotate);
    transition: 100ms;
  }
  .sectionHead:hover:before, .sectionHead:hover:after{
    filter: var(--header-hue-rotate);
  }
  .info{
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .info article{
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
  .info article p:first-child{
    font-size: 170%;
  }
  .info article p:not(:first-child){
    font-size: 80%;
  }
  .info article p:nth-child(3){
    grid-column: 2;
  }
  .mods .sectionHead{
    margin: 0 calc(var(--section-padding) - 20px);
  }
  .mods > .sectionHead > img:nth-child(2){
    height: 40px;
  }
  .logo{
      height: 200px;
  }
  .header-link{
    margin: 60px 0 20px 0;
    width: 150px;
    height: 150px;
    font-size: 45px;
  }
  .modal{
    max-width:500px;
  }
  .modal-link{
    padding:2vmin;
  }
  .mods{
    margin: 0 20px;
    padding: 0 0 20px 0;
  }
  .mod{
    width: 200px;
    height: 200px;
    margin: 20px;
  }
}

@media only screen and (min-width : 1000px) {
  :root {
    --section-padding: 15vw;
  }
  .modal-link{
    padding:1.5vmin;
  }
}

@media only screen and (min-width : 1450px) {
  :root {
    --section-padding: 20vw;
  }
}
