html,body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #36393E;
    font-size: 15px;
    color: white;
}

header{
    z-index: 20;
    position: relative;
    padding: 12vmin 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

header:before{
    z-index: -1;
    position: absolute;
    content: '';
    left: -10px;
    top: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background: url('../img/header.jpg');
    background-position: center;
    background-size: cover;
    filter: blur(7px);
}

header img{
    max-width: 80%;
}

section{
    z-index: 10;
    padding: 10vmin 5vmin;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 25px;
    grid-column-gap: 50px;
    align-items: center;
    text-align: justify;
}

section a{
    position: relative;
    color: white;
    text-decoration: none;
    text-align: center;
}

section a:after{
    width: 100%;
    left: 0;
}

/* CREDIT FOR ARTISTS */

.weketa:after{
    content:'\a Credit:\aWeketa';
    white-space: pre;
}

section a img{
    box-sizing: border-box;
    position: relative;
    width: 200px;
    border-radius: 10px;
    border: 8px solid #4BB77A;
}

section:nth-child(even) a img{
    border: 8px solid #90DA6E;
}

@media only screen and (min-width : 540px) {
    section{
        padding: 50px;
        grid-template-columns: 200px auto;
    }
    section:nth-child(odd){
        grid-template-columns: auto 200px;
        justify-content: right;
    }
    section:nth-child(odd) a{
        grid-row-start: 1;
        grid-column-start: 2;
    }
    section a:after{
        position: absolute;
    }
}