html,body{
  margin:0;
  font-family: 'Open Sans', sans-serif;
  background:#36393E;
  color:white;
}

a {
  color: lightblue;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

section{
  position: relative;
  z-index: 10;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 25px;
}

h1{
  font-size:40px;
  margin:0;
  padding-top:25px;
  padding-bottom:25px;
}

.header{
  padding: 80px;
  background: url('../img/header.jpg');
  background-position:center;
  background-size:cover;
}

.logo{
  height: 200px;
  background:url('../img/zootopia-discord-logo-v1.png');
  background-position:center;
  background-size:contain;
  background-repeat:no-repeat;
}

.bukoya{
  z-index: 1;
  position: fixed;
  height:100%;
  width:20%;
  right:0;
  pointer-events:none;
  bottom:-3px;
  opacity:0.33;
  background:url("../img/bukoya.png");
  background-size:contain;
  background-repeat:no-repeat;
  background-position:bottom;
}

.modal{
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
  text-align: center;
  background:rgba(46,49,54,1);
  border: 5px solid rgba(0, 0, 0, 0.33);
  border-radius: 20px;
}

.modal-text{
  margin: 0 auto;
  max-width: 500px;
  text-align: justify;
}

.modal a{
  margin: 0 auto;
  font-size: 300%;
  font-weight: 700;
}

.info{
  margin-top: 30px;
}

.info p{
  margin: 0 auto;
  padding-top: 20px;
  max-width: 500px;
}

#info-1{
  font-size: 200%;
  font-weight: 700;
}

#info-2, #info-3{
  text-align: justify;
}

.rules ul{
  list-style:decimal;
  margin:0;
  padding-left:28px;
}
.rules ul > li{
  padding-bottom:25px;
}
.rules ol{
  list-style:lower-alpha; 
  padding-left:28px;
}
.rules ol > li{
  margin-top:10px;
}
.rules ol > li > ol > li{
  list-style: lower-roman;
  margin-top:2px;
}

.update{
  padding-left: 20px;
  padding-right: 20px;
  padding-top:25px;
  font-size:85%;
  background:rgba(46,49,54,1);
}

.update ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.update ul li{
  margin-top: 10px;
  margin-bottom: 10px;
}